body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boddy {
    margin: 10px;
    padding: 20px 80px 20px 80px;
    border: 2px solid blue;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.part-1 {
    text-align: center;
}

hr {
    margin: -12px 500px 0px 500px;
}


.part-2 {
    text-align: center;
    margin: 0px 10px 0px 10px;
}


.part-3 {
    margin: 60px 500px 20px 500px;
}

.part-3 nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: -10px;
    margin-right: -50px;
}

.part-3 nav a {
    text-decoration: none;
    color: black;
}

a:hover {
    border-radius: 35px;
    background-color: rgb(201, 201, 217);
    padding: 2px 15px 3px 15px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.column-1 {
    width: 33%;
    margin: 8px;
}
.column-1 img {
    width: 100%;
    margin-bottom: 10px;
}

.column-2 {
    width: 33%;
    margin: 8px;
}
.column-2 img {
    width: 100%;
    margin-bottom: 10px;
}

.column-3 {
    width: 33%;
    margin: 8px;
}
.column-3 img {
    width: 100%;
    margin-bottom: 10px;
}